* {
    
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, JetBrains Mono NL Medium;
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#wireplumber:hover {
    background-color: #878586;
}

#clock,
#battery,
#wireplumber,
#pulseaudio,
#network,

#clock {
    background-color: #878586;
    color : #000000;
    font-family: JetBrains Mono NL Medium;
    font-size: 15px;
    border-radius: 17px;
    padding: 8px 10px 8px 10px;
    margin: 8px 8px 0px 0px;

}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#wireplumber {
    background-color: #878586;
    color: #000000;
    padding: 8px 15px 8px 8px;
    margin: 8px 0px 0px 10px;
}

#wireplumber.muted {
    background-color: #878586;
    padding: 8px 7px 8px 8px
}
#pulseaudio {
    background-color: #878586;
    color: #000000;
    padding: 8px 15px 8px 8px;
    margin: 8px 0px 0px 10px;
}

#pulseaudio.muted {
    background-color: #878586;
    padding: 8px 7px 8px 8px;
}

#battery {
    background-color: #878586;
    color: #000000;
    padding: 8px 15px 8px 8px;
    margin: 8px 0px 0px 4px;
}

#battery.charging, #battery.plugged {
    color: #000000;
    background-color: #878586;
    padding: 8px 15px 8px 8px;
    margin: 8px 0px 0px 4px;
}

#network {
    color: #000000;
    background-color: #878586;
    padding: 8px 15px 8px 8px;
    margin: 8px 0px 0px 4px;
}

#network.disconnected {
    color: #000000;
    background-color: #878586;
    padding: 8px 15px 8px 8px;
    margin: 8px 0px 0px 4px;
}
